@font-face {
  font-family: "Tektur-Regular";
  src: url("../assets/fonts/Tektur-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: $spacing-sm;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

p {
  margin-bottom: $spacing-sm;
}

a {
  transition: color 0.3s ease;

  &:hover {
    color: $color-primary;
  }
}
